/* custom font */
@font-face {
    font-family: 'HumaneBold';
    src: url("Humane-SemiBold.woff2") format("woff2"),
         url("Humane-SemiBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
    height: auto;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:  #904e4e;
    color: #ffffff;
    overflow-x: hidden;  /* prevent horizontal scroll */
    overflow-y: hidden;
}

.title {
    z-index: 100;
    position: absolute;
    margin:0;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 880px;
    font-family: 'HumaneBold', 'Roboto', Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    
}

section {
    mix-blend-mode: difference;
    position: absolute;
    z-index: 1001;
    margin-top: 100px;
}

section h1 {
    margin: 25px;
    font-weight: 20;
    display: flex;
    font-size: 50px;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

nav {
    position:fixed;
    z-index:50000000;
    top: 15px;
    right:50px
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
}

nav a:hover {
    background: #a1a1a137
}

.typename{
    
    text-decoration: none;
    margin-left: 105px;
    margin-top: 600px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.typename::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:25px;
    width: 100%;
    height: 0.15rem;
    background: #fff;
    transform: scaleX(0);
    transform-origin:right;
    transition: transform 300ms ease-out;

}

.typename:hover::after {
    transform: scaleX(1);
    transform-origin:left;
}
